@import "./layout/footer.css";
.header {
    background-color: #ABABAB;
  }
body {
background-color: white;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    margin-left: 16px;
  }
  
  .logo img {
    width: 60px;
  }
  
  .menu-overlay {
    position: relative;
    margin-right: 16px;
  }
  
  .toggle {
    background-color: #ABABAB;
    border: none;
    color: #000000;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 1px;
    position: relative;
  }
  
  .overlay-content {
    background-color: #ABABAB;
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    transform: translateY(8px);
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }
  
  .overlay-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .overlay-item {
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
  }
  
  .overlay-item a {
    color: #000000;
    text-decoration: none;
  }
  .packimg {
    height: 90%;
    width: 90%;
    margin: auto;
    display: flex;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .text_accueil {
    text-align: center;
    
  }
  .button_savoirplus {
    text-align: center;
    color: white;
    border-radius: 5px;
    padding-top: 5px;
    background: linear-gradient(90deg, #DA72FF 0%, #77B5FE 100%);;
    padding-bottom: 5px;
    margin-left: 15px;
    margin-top: 3px;
    margin: 5%;
    display: block ;
    border: none;
    
}
.button_billeterie {
    color: black;
    border-radius: 20px 20px;
    padding-top: 5px;
    padding-left: 0.8em;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 6.5em;
    margin-right: 6em;
    display: flex;
    text-decoration: none;
    text-align: center;
    border-color: #000;
    border:solid;
    
}
p,h2,h3 {
   margin-inline: 5%; 
}
.h1_centre {
text-align: center;
 }
 .h1_centre_artiste {
  color: #77B5FE;
  text-align: center;
}
.h1_centre_ex_oeuvre {
  color: #77B5FE;
  text-align: center;
}

 .h3_centre {
  text-align: center;
 }

.pa_btn-art {
    display: block;
    padding-left: 5px;
    padding-right: 5px;
}

.pa_btn-fig {
    border: 3px solid;
    border-color:black;
    box-sizing: border-box;
    border-radius: 15px;
    display: flex;
}

.pa_btn-img {
    height: 160px;
    width: 20w;
    border-radius: 15px 0px 0px 15px;
    flex: content;
}

.pa_btn-title {
    font-family: var(--font-domine);
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #77B5FE;
    margin-top: 20px;
    flex: auto;
    text-align: left;
}

.pa_btn-text {
    font-family: var(--font-domine);
    font-style: normal;
    font-size: 12px;
    color: #000;
    margin-top: 8px;
    flex: auto;
    text-align: left;
    margin-right: 5px;
}

.pad {
    padding-top: 35px;
    padding-bottom: 35px;
}
.img_cartier {
    margin-top: 0%;
    width: 100%;
    height: 100%;
}
.img_mouvement {
    height: 600%;
    width: 60%;
    margin: auto;
    display: flex;
  }
  .nom_mouvement {
    font-size: medium;
    text-align: center;
    color: #77B5FE;
  }


.img_carrousel {
    height: 100%;
    max-width: auto;
}

.carrousel_parent-ecrans {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

}

.carrousel_ecran {
    width: 100%;
    scroll-snap-align: start;
}

.carrousel_ecran figure {
    margin: none;
    scroll-snap-align: start;
}

.carrousel {
    position: relative;
}

.carrousel_btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem;
    height: 2rem;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    border: none;
    display: grid;
    place-content: center;
    color: #fff;
}

.carrousel_btn-avant {
    left: 0;
}

.carrousel_btn-apres {
    right: 0;
}



.caroussel_liste-liens {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 1rem;
}

.frise{
  display: flex;
  flex-direction: row;
}

.frise__img{
  display: flex;
  flex-direction: column;
}
.fleche_chrono {
  height: auto;
  width: 39%;
  margin-bottom: 10%;
  margin-left: 53%;
  position: absolute;
  top: 0;
  }
  .img1_chrono{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 5% ;
  }
  .img2_chrono{
    display: flex;
    flex-direction: column;
    width: 55%;
    margin-top: 20% ;
  }
  .img3_chrono{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 5% ;
    margin-bottom:5% ;
  }
  .fleche_img_chrono {
    position: relative;
  }
  .fade-in {
    transition: opacity .3s ease;
    opacity: 0;
  }
  .fade-in-enter-active {
    opacity: 1;
  }
  .button_alpine {
    text-align: center;
    color: white;
    border-radius: 5px;
    padding-top: 5px;
    background: linear-gradient(90deg, #DA72FF 0%, #77B5FE 100%);;
    padding-bottom: 5px;
    margin-left: 23%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block ;
    border: none;
    
  }